{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Your Cart</h2>
            <hr>
            {% if cart_items %}
                <!-- Include mobile-friendly cart template for tablet screens and smaller -->
                <div class="d-lg-none">
                    {% include "includes/mobile_cart.html" %}
                </div>
                <!-- Regular cart template for larger screens -->
                <div class="table-responsive d-none d-md-block">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Subtotal</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_items %}
                                <tr class="flex-col">
                                    <td>{{ item.product.name }} {% if item.size %} ({{ item.size }}) {% endif %} </td>
                                    <td>{{ item.product.price }}</td>
                                    <td>
                                        <form action="{% url 'update_cart' item.item_key %}" method="POST">
                                            {% csrf_token %}
                                            <input type="number" name="quantity" value="{{ item.quantity }}">
                                            <button type="submit">Update</button>
                                        </form>
                                    </td>
                                    <td>{{ item.subtotal }}</td>
                                    <td>
                                        <button type="button" class="btn btn-link text-danger" data-toggle="modal" data-target="#confirmRemoveModal{{ item.item_key }}">Remove</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Summary table for bag total, delivery, and grand total -->
                <div class="row mb-3">
                    <div class="d-none d-md-block col-md-6 offset-md-6">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><strong>Bag Total:</strong></td>
                                    <td>£{{ total }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Delivery:</strong></td>
                                    <td>£{{ delivery }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Grand Total:</strong></td>
                                    <td>£{{ grand_total }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="{% url 'checkout' %}" class="btn btn-dark text-white">Proceed to Checkout</a>
                    </div>
                </div>
            {% else %}
                <p>Your cart is empty.</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modals for each item -->
{% for item in cart_items %}
<div class="modal fade" id="confirmRemoveModal{{ item.item_key }}" tabindex="-1" role="dialog" aria-labelledby="confirmRemoveModalLabel{{ item.item_key }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmRemoveModalLabel{{ item.item_key }}">{{ item.product.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove {{ item.product.name }} from your cart?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action="{% url 'remove_from_cart' item.item_key %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}
