{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <!-- Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
        <!-- Carousel Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <!-- Carousel Items -->
        <div class="carousel-inner">
            <!-- First Slide -->
            <div class="carousel-item active">
                <a href="{% url 'products' %}?category=shoes">
                    <img class="d-block w-100 carousel-image img-fluid" src="{% static 'images/puma_spikes.webp' %}" alt="First slide">
                </a>
            </div>
            <!-- Second Slide -->
            <div class="carousel-item">
                <a href="{% url 'products' %}?category=bats">
                    <img class="d-block w-100" src="{% static 'images/cricket_bat.webp' %}" alt="Second slide">
                </a>
            </div>
            <!-- Third Slide -->
            <div class="carousel-item">
                <a href="{% url 'products' %}?category=bats">
                    <img class="d-block w-100" src="{% static 'images/cricket_bats.webp' %}" alt="Third slide">
                </a>
            </div>
            <!-- Fourth Slide -->
            <div class="carousel-item">
                <a href="{% url 'products' %}?category=shoes">
                    <img class="d-block w-100" src="{% static 'images/adidas_cricket_shoes.webp' %}" alt="Fourth slide">
                </a>
            </div>
            <!-- Fifth Slide -->
            <div class="carousel-item">
                <a href="{% url 'products' %}?category=bats">
                    <img class="d-block w-100" src="{% static 'images/new_balance_bats.webp' %}" alt="Third slide">
                </a>                
            </div>
        </div>
        <!-- Carousel Controls -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Featured Products -->
    <div class="container my-5">
        <h2 class="text-center mb-4">Featured Products</h2>
        <div class="row">
            {% for product in featured_products %}
            <div class="col-lg-3 col-6 mb-4">
                <div class="card">
                    <a href="{% url 'individual_product' product.id %}">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name}}">
                        {% else %}
                            <img class="img-fluid" src="{% static 'images/no-image-icon-23489.webp' %}" alt="No photo available image">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <p class="card-text">{{ product.name }}</p>
                        <hr>
                        <p class="card-text font-weight-bold cursor-pointer" data-toggle="modal" data-target="#productModal{{ product.id }}">{{ product.description|truncatewords:3 }}</p>
                        <hr>
                        <p class="cart-text pt-2">£{{ product.price }}</p>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="productModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="productModalLabel{{ product.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="productModalLabel{{ product.id }}">{{ product.name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{{ product.description }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="d-flex justify-content-center mx-auto">
                <a href="{% url 'products' %}" class="btn btn-lg btn-dark text-white">View all</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
