html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'playfair-display';
}

.container {
    flex-grow: 1 1 auto;
}

.carousel-item img {
    width: 100vw!important;
    max-height: 550px;
    object-fit: cover;
}

.vh-90 {
    min-height: 90vh;
}

.text-decoration-underline {
    text-decoration: underline;
}

.description {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Allauth form formatting source code from 
https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/b5e178737596a1a1cf5be50345dc770b119918fd/checkout/templates/checkout/checkout.html*/

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d; 
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8;
}

.cursor-pointer {
    cursor: pointer;
}

footer {
    margin-top: auto;
    width: 100%;
    min-height: 20vh;
    background-color: rgb(33, 37, 41);
    ;
}

.navbar-toggler-icon {
    color: black; 
}


@media (max-width: 768px) {
    * {
        font-size: 1rem;
    }

    .vh-40 {
        max-height: 40vh;
    }

    .vw-50 {
        max-width: 50vw;
    }

    .search-form {
        display: none;
    }
    .search-icon {
        display: inline-block;
    }
    
    .header-links .btn-link {
        padding: 0;
    }

    .mobile-searchbar {
        margin-bottom: 15px;
    }
}