<nav class="navbar navbar-expand-lg navbar-light mt-2">
    <div class="collapse navbar-collapse" id="navbarNavMobile">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProductsMobile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> All Products </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownProductsMobile">
                    <a class="dropdown-item" href="{% url 'products' %}?sort=price" >By Price(Low to High)</a>
                    <a class="dropdown-item" href="{% url 'products' %}?sort=category">By Category</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBatsMobile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cricket Bats </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownBatsMobile">
                    <a class="dropdown-item" href="{% url 'products' %}?category=bats&sort=price">By Price</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=bats">All Bats</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPadsMobile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cricket Pads </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownPadsMobile">
                    <a class="dropdown-item" href="{% url 'products' %}?category=pads&sort=price">By Price</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=pads">All Pads</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownShoesMobile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cricket Shoes </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownShoesMobile">
                    <a class="dropdown-item" href="{% url 'products' %}?category=shoes&sort=price">By Price</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=shoes">All Shoes</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownClothingMobile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cricket Clothing </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownClothingMobile">
                    <a class="dropdown-item" href="{% url 'products' %}?category=clothing&sort=price">By Price</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=clothing">All Clothing</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccessoriesMobile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cricket Accessories </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownAccessoriesMobile">
                    <a class="dropdown-item" href="{% url 'products' %}?category=accessories&sort=price">By Price</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=accessories">All Accessories</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
