<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="collapse navbar-collapse d-flex justify-content-space-between" id="navbarNav">
        <ul class="navbar-nav w-100 bg-dark d-flex justify-content-between">
            <li class="nav-item d-flex justify-content-center align-items-center ml-4" >
                <a href="{% url 'home' %}" aria-label="home">
                    <i class="fas fa-home fa-lg text-white"></i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownProducts" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> All Products </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownProducts">
                    <a class="dropdown-item" href="{% url 'products' %}?sort=price" >By Price(Low to High)</a>
                    <a class="dropdown-item" href="{% url 'products' %}?sort=category">By Category</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownBats" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cricket Bats </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownBats">
                    <a class="dropdown-item" href="{% url 'products' %}?category=bats&sort=price">By Price</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=bats">All Bats</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownShoes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cricket Shoes </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownShoes">
                    <a class="dropdown-item" href="{% url 'products' %}?category=shoes&sort=price">By Price</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=shoes">All Shoes</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownPads" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cricket Pads </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownPads">
                    <a class="dropdown-item" href="{% url 'products' %}?category=pads&sort=price">By Price</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=pads">All Pads</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownClothing" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cricket Clothing </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownClothing">
                    <a class="dropdown-item" href="{% url 'products' %}?category=clothing&sort=price">By Price</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=clothing">All Clothing</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownAccessories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cricket Accessories </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownAccessories">
                    <a class="dropdown-item" href="{% url 'products' %}?category=accessories&sort=price">By Price</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=accessories">All Accessories</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
