<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
        <ul class="navbar-nav bg-dark">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'products' %}?sort=price">All Products</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownBats" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cricket Bats </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownBats">
                    <a class="dropdown-item" href="{% url 'products' %}?category=bats&sort=price">By Price</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=bats&sort=rating">By Rating</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=bats">All Bats</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownShoes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cricket Shoes </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownShoes">
                    <a class="dropdown-item" href="{% url 'products' %}?category=shoes&sort=price">By Price</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=shoes&sort=rating">By Rating</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=shoes">All Shoes</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownPads" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cricket Pads </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownPads">
                    <a class="dropdown-item" href="{% url 'products' %}?category=pads&sort=price">By Price</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=pads&sort=rating">By Rating</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=pads">All Pads</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownClothing" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cricket Clothing </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownClothing">
                    <a class="dropdown-item" href="{% url 'products' %}?category=clothing&sort=price">By Price</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=clothing&sort=rating">By Rating</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=clothing">All Clothing</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownAccessories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cricket Accessories </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownAccessories">
                    <a class="dropdown-item" href="{% url 'products' %}?category=accessories&sort=price">By Price</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=accessories&sort=rating">By Rating</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=accessories">All Accessories</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
