{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}
{% block content %}
    <div class="container mt-5 vh-100">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">{% trans "Sign Up" %}</h1>
                        <p class="card-text">
                            {% blocktrans %}Already have an account? Then please
                                <a href="{{ login_url }}">sign in</a> first.{% endblocktrans %}
                        </p>
                        {% url 'account_signup' as signup_url %}
                        <form class="signup" id="signup_form" method="post" action="{{ signup_url }}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                            {% endif %}
                            <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
