{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card mb-4 shadow-sm">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static 'images/no-image-icon-23489.webp' %}" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            {% if request.user.is_superuser %}
                                <a href="{% url 'edit_product' product.id %}" class="btn btn-dark text-white">Edit</a>
                                <a href="{% url 'delete_product' product.id %}" class="btn btn-dark text-white">Delete</a>
                            {% else %}
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-dark text-white" href="{% url 'individual_product' product.id %}">View</a>
                                </div>
                            {% endif %}
                            <small class="text-muted font-weight-bold">£ {{ product.price }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
