{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Meet The Team</h2>
    <!-- Display staff members here -->
    <div class="row">
        {% for staff_member in staff_members %}
        <div class="col-6 col-md-4 mb-4">
            <div class="card">
                <img src="{{ staff_member.profile_picture.url }}" class="img-fluid card-img-top" alt="{{ staff_member.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ staff_member.first_name }} {{ staff_member.last_name }}</h5>
                    <p class="card-text"><span class="font-weight-bold">Job Title:</span> {{ staff_member.job_title }}</p>
                    <p class="card-text"><span class="font-weight-bold">Bio:</span> {{ staff_member.bio }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Add staff member button for superusers -->
    {% if user.is_superuser %}
        <a href="{% url 'add_staff_member' %}" class="btn btn-dark text-white">Add Staff Member</a>
    {% endif %}
</div>
{% endblock %}
