{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {% if cart_items %}
                {% for item in cart_items %}
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.product.name }}{% if item.size %} ({{ item.size }}) {% endif %} </h5>
                                    <p class="card-text">Price: £{{ item.product.price }}</p>
                                    <form action="{% url 'update_cart' item.item_key %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="quantity">Quantity:</label>
                                            <input type="number" name="quantity" id="quantity" class="form-control" value="{{ item.quantity }}">
                                        </div>
                                        <button type="submit" class="btn btn-dark text-white">Update</button>
                                        <a href="{% url 'remove_from_cart' item.item_key %}">Remove</a>
                                    </form>
                                    <p class="card-text"><small class="text-muted">Subtotal: £{{ item.subtotal }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="row mb-4">
                    <div class="col-md-6 offset-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Cart Summary</h5>
                                <p class="card-text">Bag Total: £{{ total }}</p>
                                <p class="card-text">Delivery: £{{ delivery }}</p>
                                <p class="card-text">Grand Total: £{{ grand_total }}</p>
                                <a href="{% url 'checkout' %}" class="btn btn-dark text-white">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Your cart is empty.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
